/* ブラウザがそれぞれ持っているCSSをリセットするための記述 (リセットCSS)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}

header{
  width:90%;
  padding:15px 0;
  mergin:0 auto;
}

header.heading{
  font-size:32px;
}
.nav-list{
  text-align:center;/*画像やテキストの行ぞろえを設定。left,center,rightがある。*/
  padding:10px 0;
  margin:0 auto;
}
.nav-list-item {
  list-style: none; /*箇条書きリスト行頭のスタイルを設定。squareやcircleがあるが今回は何も表示しないnone */
  display: inline-block;/*要素の表示形式を設定。上から積み重ねるblock,テキストと同じように横並びになるinline,横並びかつblockのようにpaddingなどが設定できるinlineblockがある。*/
  margin: 0 20px;
}
.header-bottom{
  width:100%;
  height:50px;
}
.main-visual{
  width:100%;
  height:300px;
  background-image: url("../img/mv.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
   background-position: center; /* 背景画像を中央に配置 */
}
.main-visual-content{
  text-align:center;
  padding-top:105px;
  width:40%;
  height:300px;
  background-color: rgba(0,0,0,0.5); /*最初の3の数字は色を、最後の数字は透過度を指定。1で不透明*/
}
.main-visual-text{
  color:#fff;
}
.main-visual-name{
  margin-top:30px;
  color:#fff;
}
main{
  width:840px;
  display:flex;  /* Flexboxの利用 */
  justify-content: center; /* Flexboxの利用 */
  margin:0 auto; /* Flexboxの利用 */
  padding:70px 0;/* 上下に70px、左右に0pxの内側余白 */
}
.blog{
  width:540px;
  margin-right:30px;
}
.blog-heading{
  border-bottom: 8px solid #c0baba;
  text-align:center;
  line-height:0.6;
}
.blog-box {
  padding-top: 50px;
}
.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  display:flex;
  justify-content: flex-start;
}
.blog-image {
  height: 180px;
}
.blog-text {
  padding: 25px 0 0 30px;
}

.blog-text-heading {
  padding-bottom: 15px;
}
.blog-date {
  font-size: 12px;
  display: inline-block;
}
.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}
.slidebar{
  width:230px;

}
footer{
  width:100%;
  height:120px;
  text-align:center;
  line-height:120px;
  background-color: #848282;
}
.footer-text{
  color:#fff;
}